<div class="bakanas-action-display-container">
    <!-- Control Bar (Grip + Pin Button) -->
    <div class="bad-control-bar">
        <div class="bad-drag-handle" title="Drag to move"><i class="fas fa-grip"></i></div>
        <button class="bad-control-btn bad-pin-btn" data-action="toggleAnchor" title="{{#if isAttached}}Detach HUD (make floating){{else}}Attach HUD to token{{/if}}">
            <i class="fas {{#if isAttached}}fa-link{{else}}fa-unlink{{/if}}"></i>
        </button>
    </div>

    <!-- Left-side Slide-out Accordion Tabs (Item Types: Weapon, Spell, Feat, etc.) -->
    <div class="bad-left-tabs">
        {{#each itemTypes}}
        <div class="bad-left-tab-group {{#if this.expanded}}expanded{{/if}}">
            <!-- Parent Tab -->
            <div class="bad-left-tab {{#if this.active}}active{{/if}} {{#if this.activeParent}}active-parent{{/if}}" 
                 data-action="changeLeftItemType" 
                 data-type="{{this.id}}" 
                 data-has-sub-tabs="{{#if this.subTabs.length}}true{{else}}false{{/if}}"
                 title="{{this.label}}">
                <span class="bad-left-tab-text">{{this.label}}</span>
                <div class="bad-left-tab-icon">
                    <i class="{{this.icon}}"></i>
                </div>
            </div>
            
            <!-- Sub-tabs (Spell Levels - revealed when Spells is expanded) -->
            {{#if this.subTabs.length}}
            <div class="bad-left-sub-tabs">
                {{#each this.subTabs}}
                <button class="bad-left-sub-tab {{#if this.active}}active{{/if}}" 
                        data-action="changeLeftSubItemType" 
                        data-type="{{this.id}}">
                    {{this.label}}
                </button>
                {{/each}}
            </div>
            {{/if}}
        </div>
        {{/each}}
    </div>

    <!-- Main Layout (Center content + Right-side tabs) -->
    <div class="bad-main-layout">
        <!-- Main Content Area (Flat list of filtered items) -->
        <div class="bad-tab-content">
            {{#if items.length}}
                {{#each items}}
                <div class="bad-action-item" data-action="rollAction" data-action-id="{{this.id}}">
                    {{#if this.img}}
                    <img class="bad-action-icon" src="{{this.img}}" alt="{{this.name}}" />
                    {{else}}
                    <div class="bad-action-icon-placeholder"><i class="fas fa-dice-d20"></i></div>
                    {{/if}}
                    
                    <span class="bad-action-name">{{this.name}}</span>
                    
                    {{#unless (eq this.uses.available null)}}
                    <span class="bad-action-uses {{#if (eq this.uses.available 0)}}depleted{{/if}}">
                        {{this.uses.available}}{{#if this.uses.max}} / {{this.uses.max}}{{/if}}
                    </span>
                    {{/unless}}
                </div>
                {{/each}}
            {{else}}
                <div class="bad-no-actions">
                    <i class="fas fa-info-circle"></i> No actions available.
                </div>
            {{/if}}
        </div>

        <!-- Right-side Slide-out Accordion Tabs (Action Types: Standard, Time, Monster, etc.) -->
        <div class="bad-right-tabs">
            {{#each actionTypes}}
            <div class="bad-right-tab-group {{#if this.expanded}}expanded{{/if}}">
                <!-- Parent Tab -->
                <div class="bad-right-tab {{#if this.active}}active{{/if}} {{#if this.activeParent}}active-parent{{/if}}" 
                     data-action="changeActionType" 
                     data-type="{{this.id}}" 
                     data-has-sub-tabs="{{#if this.subTabs.length}}true{{else}}false{{/if}}"
                     title="{{this.label}}">
                    <div class="bad-right-tab-icon">
                        <i class="{{this.icon}}"></i>
                    </div>
                    <span class="bad-right-tab-text">{{this.label}}</span>
                </div>
                
                <!-- Sub-tabs (Action/Bonus/Reaction - revealed when parent is expanded) -->
                {{#if this.subTabs.length}}
                <div class="bad-right-sub-tabs">
                    {{#each this.subTabs}}
                    <button class="bad-right-sub-tab {{#if this.active}}active{{/if}}" 
                            data-action="changeSubActionType" 
                            data-type="{{this.id}}">
                        {{this.label}}
                    </button>
                    {{/each}}
                </div>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
</div>
